:root {
  --primary: #232F3E;
  --secondary: #7dc5ee;
  --tertiary: #ffcb22;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  background-image: url(./assets/top-coffee.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
  color: black;
}

h2 {
  font-size: 2rem;
  color: var(--dark);
}

h3 {
  font-size: 1.75rem;
  color: var(--dark);
}

h4 {
  font-size: 1.5rem;
  color: black;
}

h5 {
  font-size: 1.25rem;
  color: black;
}

h6 {
  font-size: 1rem;
  color: black;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  color: var(--dark);
}

a {
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;

}

a:hover {
  color: var(--secondary);
  text-decoration: underline 5px;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  color: var(--light);
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--primary);
}

button:hover {
  opacity: .5;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 95%;
}

span[role="img"] {
  cursor: default;
  color: var(--tertiary);
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 80%;
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 20%;
  margin: 10px;
  text-align: center;
  border-radius: .5rem;
  box-shadow: 10px 5px 5px rgb(78, 78, 78);
  background: lightblue;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}