.landingHome {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: none;
}

.landing {
  height: 100vh;
  min-width:max-content;
}

footer.footer {
  background-color: #05a8aa;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8vh;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer > a {
  text-decoration: none;
  font-family: 'Julius Sans One';
  font-size: 25px;
  color: black;
}

.footer > a:hover {
  color: #b8d5b8;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .landingHome,
  .landing,
  footer.footer {
    overflow: hidden;
  }
  .landingHome {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: none;
  }
  
  .landing {
    height: 95vh;
    min-width:max-content;
  }
}

@media only screen and (max-width: 667px) {
  .landingHome,
  .landing,
  footer.footer {
    overflow: hidden;
  }
  .landingHome {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: none;
  }
  
  .landing {
    height: 75vh;
    min-width:max-content;
  }
}